@{
    ViewData["Title"] = "Truy cập bị từ chối";
}

<div class="container text-center mt-5">
    <h2 class="text-danger">cút!</h2>
    <a href="/" class="btn btn-primary mt-3">Về trang chủ</a>
</div>
